[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ohadschn
[access "refs/for/refs/*"]
	read = group user/ohadschn
	push = group user/ohadschn
	label-Code-Review = -2..+2 group user/ohadschn
	label-Verified = -1..+1 group user/ohadschn
	rebase = group user/ohadschn
	removeReviewer = group user/ohadschn
	submit = group user/ohadschn
[access "refs/heads/*"]
	read = group user/ohadschn
	create = group user/ohadschn
	push = +force group user/ohadschn
	pushMerge = group user/ohadschn
[access "refs/tags/*"]
	push = +force group user/ohadschn
	pushTag = group user/ohadschn
	pushSignedTag = group user/ohadschn
